
<div class="d-flex flex-column justify-content-between " >
    <div class="row ">
        <div style="height: 100vh; background-color: rgb(245, 138, 67);" class="col-lg-3 ">
            
        </div>
        <div style="background-color: #f2f2f2;" class="col-lg-9  ">
            <div class="row mt-5 ms-4 d-flex justify-content: space-between; ">
                <div class="col-lg-8"><p>STEP 1/3</p></div>
                <div class="col-lg-4"><p>4 Prompts | 5 mins</p></div>
            </div>
            <div class="row ms-3">
                <div class="col-lg-8"><h3>Cost Identification</h3>
                    <p>Identify and categorize the various costs influencing margins.</p>
                </div>
                <div class="col-lg-4">
                    <button class="btn btn-primary" routerLink="/home">
                        Get Started <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>